<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Eliminar Categoría</title></head>
<body style="font-family: Arial, sans-serif; padding: 20px;">
    <h2>Categorias - Eliminar</h2>
    <p><a th:href="@{/categorias}">Regresar</a></p>
    <form th:action="@{/categorias/eliminar/{id}(id=${categoria.id})}" method="post">
        
        <p>Nombre:<br>
            <input type="text" th:value="${categoria.nombre}" readonly style="padding: 5px; width: 250px; background-color: #f9f9f9; border: 1px solid #767676;"/>
        </p>
        
        <p>Descripcion:<br>
            <textarea th:text="${categoria.descripcion}" readonly rows="4" style="padding: 5px; width: 400px; background-color: #f9f9f9; resize: none; border: 1px solid #767676;"></textarea>
        </p>

        <button type="submit" style="padding: 5px 20px; background-color: #efefef; border: 1px solid #767676;">Eliminar</button>
    </form>
</body>
</html>